/*default small devices*/
html {
    font-family: Helvetica, sans-serif;
}

.alert-info {
    padding: 1em 4em;
    border: 2px solid gray;
    text-align: center;
    background: rgb(214,254,254);
    font-weight: bold;
}

.alert-info a:hover,
.alert-info a:link,
.alert-info a:visited {
    color: black;
    text-decoration: none;

}

h1{
    text-align: center;
    font-size: 4em;
    margin: .2em 0 .9em 0;
}

.nav-links{
list-style: none;
}

ul {
    padding-inline-start: 0;
}

nav li{
    background-color: silver;
    padding: 1em;
    margin: 1em 0em;
    text-align: center;
    font-weight: bold;
}

.header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hidden-on-desktop {

}

.main>h2{
    font-weight: bold;
}

.sub-section{
    font-style: italic;
}

footer img {
    max-width: 2.5%;
    /*margin-bottom: -1.2em;*/
    /*float: right;*/
    /*display: inline;*/
}
/*footer a{*/
    /*white-space: nowrap;*/
/*}*/

.header-img img {
    width: 100%
}

/*footer p {*/
    /*float: left;*/
    /*flex-wrap: nowrap;*/
/*}*/

footer li {
    list-style: none;
    display: inline;
}

footer img {

}

footer {
    float: left;
}

@media screen and (min-width: 950px) {

    .hidden-on-desktop {
        display: none;
    }

    nav ul {
        float: right;
        margin-top: 3em;
    }

    nav li {
        text-align: right;
        font-weight: bold;
        background-color: white;
        display: inline;
    }

    h1 {
        float: left;
    }

    .main {
        float: left;
        width: 66%;
    }

    .sub-section {
        float: right;
        width: 33%;
    }

    footer p {
        /*float: left*/
    }

    /*footer {*/
        /*!*margin: 200px 10px;*!*/
        /*!*max-width: 100%;*!*/
        /*!*display: inline-block;*!*/
    /*}*/

    /*footer p {*/
        /*width: 50%;*/
        /*float: left;*/
    /*}*/

    /*.social-media-links {*/
        /*width: 50%;*/
        /*float: right;*/
    /*}*/
}